@use '../config' as *;
@use '../base' as *;


/* Contains main image and message */
.main {
    font-family: $main-font, monospace;
    margin-top: 2rem;

    @media screen and (min-width: 600px) {
        display: flex;
        justify-content: space-evenly;
    }

    @media screen and (min-width: 992px) {
        margin-top: 4rem;
    }

    @media screen and (min-width: 1440px) {
        margin-top: 8rem;
    }
}

/* Main image container */
.frame {
    margin-top: 2rem;

    @media screen and (min-width: 600px) {
        width: 35%;  
    }

    @media screen and (min-width: 992px) {
        width: 40%;    
    }
}

/* Main message container */
.message {
    width: 300px; 
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: auto;
    }
}

.message__title {
    font-size: 40px;
    font-weight: bold;
    color: $gray1;
    line-height: 71px;
    margin-bottom: 1rem;

    
    @media screen and (min-width: 768px) {
        width: 370px;
    }

    @media screen and (min-width: 1440px) {
        width: 560px;
        font-size: 60px;
        font-weight: 700;
        line-height: 94.78px;
    }
}

.message__text {
    width: 255px;
    font-size: 15px;
    line-height: 27px;
    color: $gray1;

    @media screen and (min-width: 1440px) {
        width: 410px;
        margin-bottom: 1rem;
        font-size: 24px;
        font-weight: 400;
        line-height: 35.54px;
    }
}

.button {
    width: 216px;
    height: 68px;
    margin-top: 3rem;
    padding: 1.5rem;
    font-size: 14px;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background-color: $gray1;

    @media screen and (min-width: 992px) {
        &:hover {
            background-color:$hover;
        }
    }
}