@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
$header-font: 'Inconsolata, monospace';

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
$main-font: 'Space Mono', monospace;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
$footer-font: 'Montserrat', sans-serif;
